@import "../../../styleutils/variables.scss";

.user-logout {
  display: flex;
  align-items: center;
  gap: 1rem;

  padding: 0.6rem 1rem;
  border-radius: 0.5rem;

  width: 8rem;

  &:hover {
    background: $border-color;
  }
}
