.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;

  &__right {
    padding-right: 1rem;

    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__left {
    display: flex;
    align-items: center;

    gap: 1rem;
    padding-inline: 1rem;
  }

  &__search {
    width: 25%;
  }
}
