@import "../../styleutils/variables.scss";

.aside {
  background-color: $popup-color;
  width: 20%;
  height: calc(100vh - 4rem);
  max-width: 284px;

  &--hidden {
    width: 3%;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;

    &--hidden {
      justify-content: center;
    }
  }

  &__title {
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;

    &--hidden {
      display: none;
    }
  }
}